`html, body {
    background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2F2F2F;
    height: 100%;
    width: 100%;
}

body {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: Arial,Helvetica,sans-serif;
}


/*--------- HEADER ---------*/

.navbar {
    margin-bottom: 9px;
    border: 0 none;
}

.navbar-inner {
    position: relative;
    background-color: #f6f6f6;
    background-image: linear-gradient(to bottom, #fbfbfb, #f2f2f2);
    border-color: -moz-use-text-color -moz-use-text-color #c8c8c8 !important;
    border-radius: 0 !important;
    border-style: none none solid !important;
    border-width: 0 0 1px !important;
    box-shadow: 0 -3px 6px #777 !important;
    height: 54px;
    line-height: 54px;
}

.navbar-bottom-inner {
    background-color: #f6f6f6;
    background-image: linear-gradient(to bottom, #fbfbfb, #f2f2f2);
    border-color: -moz-use-text-color -moz-use-text-color #c8c8c8 !important;
    border-radius: 0 !important;
    border-style: none none solid !important;
    border-width: 0 0 1px !important;
    box-shadow: 0 1px 4px #777 !important;
    height: 34px;
    line-height: 34px;
    position: relative;
}

.container {
    width: 986px !important;
}

#logo { margin-top: 9px; float: left; height: 40px; width: 140px; background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }

#topmenu { float: left; padding-left: 10px; }

#topmenu ul { 
    list-style: none outside none; 
}

#topmenu li {
    background-color: rgba(0, 0, 0, 0);
    float: left;     
    border: 0 none;
}


#topmenu li a {
    color: #666666;
    display: block;
    font-size: 13px;
    margin: 0 18px;
    text-decoration: none;  
}


/*--------- CENTER ---------*/



/*--------- FOOTER ---------*/


.footer {
    background: none repeat scroll 0 0 #181818;
    color: #8f8f8f;
    font-size: 11px;

}


.footer-info {
    background: #252525;
    border-bottom: 1px solid #222222;
    height: 170px;
}

.footer-cont {
    line-height: normal;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
    width: 940px;
    height: 50px;
}

.footer a {
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

.footer .dt {
    background: url("../images/footer-line.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 6px;
    padding: 0 0 9px;
}

.footer-info .container { padding: 20px 0px 0px 0px; }



